<div class="row m5">
    <div class="col-xs-12">
        <label>Server Name</label>
        <input type="text" class="form-control" [(ngModel)]="serverName">
        <label>Server Content</label>
        <input type="text" class="form-control" [(ngModel)]="serverContent"/>
        <br>
        <button class="btn btn-primary m5" [disabled]="serverName.length ==0 || serverContent.length ==0" (click)="createServer()">Add Server</button>
        <button class="btn btn-primary m5" [disabled]="serverName.length ==0 || serverContent.length ==0" (click)="createBlueprint()">Add Blueprint</button>
    </div>
</div>